.search-page {
  .text-zone { 
    position: absolute; 
    align-content: center;
    left: 10%; 
    top: 35%; 
    transform: translateY(-50%); 
    width: 50%; 
    max-height: 90%; 
    display: absolute;
  }
  h1{
    color: #fff; 
    font-size: 60px; 
    margin: 0; 
    font-weight: 600; 
    cursor: pointer;

    &::before { 
        color: #ffd700; 
        position: absolute; 
        margin-top: -40px; 
        left: 15px; 
        opacity: 0.6; 
    }

    &::after { 
        color: #ffd700; 
        position: absolute; 
        margin-top: 18px; 
        left: 20px; 
        animation: fadeIn 1s 1.7s backwards; 
        opacity: 0.6; 
    }
  }

  h2 { 
    color: #fff; 
    margin-top: 20px; 
    font-weight: 300; 
    font-size: 14px; 
    letter-spacing: 1px; 
    animation: fadeIn 1s 1.8s backwards; 
}
.searchBox {
  display: flex;
  max-width: 450px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
  margin-top: 70px;
  margin-left: -10px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #ff4000 30%, #fd9815 80%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 22px;
  padding: 24px 46px 24px 26px;
}
}

@media screen and (max-width: 1150px){
  .search-page{
    .text-zone{
      top:15%;
      width: 80%;
    }
  }
}